.env
AGENTS.md

.idea
.serena
__pycache__
pip-unpack-035i4sa7/nodejs_wheel_binaries-24.14.0-py2.py3-none-macosx_13_0_x86_64.whl.metadata
pip-unpack-jdtkdh6j/basedpyright-1.38.4-py3-none-any.whl
pip-unpack-jdtkdh6j/nodejs_wheel_binaries-24.14.0-py2.py3-none-macosx_13_0_x86_64.whl
pip-unpack-jqckdrcv/basedpyright-1.38.4-py3-none-any.whl.metadata
pip-unpack-oi7ekxav/basedpyright-1.38.4-py3-none-any.whl.metadata
pip-unpack-sq_xfo64/nodejs_wheel_binaries-24.14.0-py2.py3-none-macosx_13_0_x86_64.whl.metadata
pip-unpack-ymfflozc/basedpyright-1.38.4-py3-none-any.whl
pip-unpack-ymfflozc/nodejs_wheel_binaries-24.14.0-py2.py3-none-macosx_13_0_x86_64.whl
tmp1sh01vgl
tmplch27nax
